.Corp {
  font-family: 'Noto Serif', serif;
  text-align-last: justify;
  color: blue;
  font-size: 2em;
  font-style: italic;
  font-weight: bold;
  text-shadow: 1px 1px #47609a;
}
.Banner {
  padding: 0;
  padding-bottom: 1rem;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Noto Serif', serif;
}
.nav-link.active {
  background: brown !important;
  color: white !important;
  box-shadow: 2px 2px 5px #721c2461;
}
.nav-link {
  border-radius: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 0.2rem;
  color: #4d5b62;
  transition: all .5s;
}
.nav-link:hover {
  color: brown;
  background: white;
}
nav {
  border-right: 1px solid #e8e8e8;
  box-shadow: 1px 0px #b3b3b3;
  border-radius: 1rem;
  background: #efefef;
  padding-bottom: .5rem;
}
.CategoryRow .CategoryMeta {
  opacity: 0;
}
.CategoryRow:hover .CategoryMeta {
  opacity: 1;
}
/* .EditModal Important part */
.EditModal .modal-dialog{
  overflow-y: initial !important
}
.EditModal .modal-body{
  overflow-y: auto;
}
.EditModal .modal-content{
  height: 90vh;
}
.FormCancelBtn {
  float: right;
}
.IsShownOnMain {
  border: 0.1rem dashed brown;
  background: #ffffff85;
  padding: 0.2rem;
}
.PhotoUploader .Image {
  position: relative;
  border: 1px solid grey;
  background: #cecece;
  display: inline-block;
}
/* .PhotoUploader .ImageInfo:hover {
  background: white;
} */
.PhotoUploader .Image .CloseSpan {
  top: 0;
  right: 0;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
  width: 1.5rem;
  height: 2rem;
  overflow: hidden;
  text-align: center;
  /* transition: .5s; */
}
.GalleryLink {
  margin: 0;
  bottom: 0;
}
.PhotoUploader .ImageInfo {
  background: rgba(255, 255, 255, 0.75);
  word-break: break-all;
  max-width: 100%;
  overflow: hidden;
  position: absolute;
}
.Absolute {
  position: absolute;
}
.ArticleHolder {
  background: #edeee8;
}
.ArticleHolder img {
  max-width: 100%;
}