.Offer {
  white-space: nowrap;
  max-width: 100%;
  position: relative;
  overflow: hidden;
}
.OfferHolder {
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  vertical-align: middle;
}
.OfferTitle {
  background: red;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}
.TopMenuCol:hover a, .TopMenuCol.Active a {
  color: #3a060c;
}
.TopMenu a {
  color: white;
}
.TopMenu {
  background: linear-gradient(red, #880000);
  border-radius: 0.5rem;
  color: white !important;
  font-size: larger;
  text-align: center;
  border: 1px solid hsl(354, 61%, 28%);
  text-shadow: 1px 1px #3a060c;
  cursor: pointer;
}
.TopMenuCol {
  border-radius: 0.5rem;
}
.TopMenuCol:hover, .TopMenuCol.Active {
  color: #3a060c !important;
  text-shadow: 1px 1px white;
  background: #edeee8;
  /* border: 1px solid; */
}
#App {
  margin-left: 2rem;
  margin-right: 2rem;
  background: #edeee8;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 1px 5px 0 #6d6d6d;
  margin-top: -1rem;
}
.SpecialBanner {
  background: linear-gradient(red, #880000);
  border-radius: 0.5rem;
  color: white;
  border: 1px solid #721c24
}
.SpecialBanner img {
  display: block;
  /* border: 2px solid white; */
  border-radius: 5px;
}
.SpecialBanner h4 {
  text-decoration: underline;
}
.LeftMenu {
  background: #dce0dc;
}
.LeftMenu ul {
  font-weight: bold;
  padding-left: 1rem;
}
.LeftMenu li a {
  color: #222529 !important;
}
.LeftMenu li:hover a {
  color: #880000 !important;
}
.IndexItem h3 {
  display: inline;
}
.IndexItem a {
  text-decoration: none !important;
  color: initial !important;
}
h1,h2,h3,h4,h5,h6,.Corp {
  font-family: 'Noto Serif', serif;
}
h1 {
  text-align: center;
}
.TopLetters {
  text-align-last: justify;
  color: red;
  font-size: 2em;
  font-style: italic;
  font-weight: bold;
}
.IndexItem h3 {
  text-decoration: underline;
}
.SearchBox {
  border-radius: 5px;
  border: 0px;
  padding: 0.4rem;
  background: #ffffffc9;
  font-size: 1.2rem;
}
.SearchBox:focus {
  outline-color: #e75642;
}
.SearchBox::placeholder {
  font-style: italic;
  color: rgb(203, 100, 100);
}
.TopBanner {
  background-image:url('/website/stone3.jpg');
  height: 250px;
  background-size:cover;
  background-position:right;
}
@media (max-width: 600px) {
  .TopBanner {
    background-position-x: -600px;
  }
}
.Phone {
  top:5px;
  right:5px;
  font-size:2rem;
  font-weight:bold;
  color: brown;
  text-shadow: 2px 2px #f7cb89;
}
.IndexItem {
  z-index: 100;
  transition: all 0.5s;
  position: relative;
}
.IndexItem:hover {
  z-index: 101;
  box-shadow: 5px 5px 10px #bbbbbb;
  transform: translate(-10px, -10px);
}